{% extends "landing/static_base.html" %}
{% block body %}



    <!-- Section -->

    <div class="row justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                <div class="text-center text-md-center mb-4 mt-md-0">

                    <form method="POST">
                        {% csrf_token %}
                        <label class="small mb-1"
                               for="id_email">Email address:</label>
                        <input type="email" name="email"
                               class="form-control"
                               required
                               id="id_email"
                               placeholder="Enter email">
                        <br>
                        <button type="submit" class="btn btn-primary">
                            Reset my password
                        </button>

                        {% if form.errors %}
                            <div id="form_errors" class="f-errors mt-2">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </form>


                </div>
            </div>
        </div>



{% endblock body %}