{% extends "landing/static_base.html" %}
{% block body %}



    <!-- Section -->

    <div class="row justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                <div class="text-center text-md-center mb-4 mt-md-0">

                    <h1>Activate Your Account</h1>

                    <p>
                        We've emailed you a link to activate your account, which you'll receive shortly.
                    </p>
                    <hr>
                    <p>
                        <strong>
                            (If you don't receive an email, please check your spam folder.)
                        </strong>
                    </p>


                </div>
            </div>
        </div>



{% endblock body %}