<h3>Elements</h3>

{% if user.is_authenticated %}
<table>
    <form method="post" action="{% url 'task-create' collaboration.id %}">{% csrf_token %}
        <div>
        {{ task_form.as_table }}
        <br>
        <input type="submit" value="Save">
            </div>
    </form>
    </table>
    <br>
    <table>
    <form method="post" action="{% url 'milestone-create' collaboration.id %}">{% csrf_token %}
        <div>
        {{ milestone_form.as_table }}
        <br>
        <input type="submit" value="Save">
        </div>
    </form>
    </table>
    <br>

{% endif %}


{% for element in elements %}
    {% if element.type == Task %}
        <tr>
            <th>
                {{ element }}
            </th>
        </tr>
        <br>
    {% else %}
        <tr>
            <th>
                {{ element }}
            </th>
        </tr>
        <br>
    {% endif %}
{% endfor %}