{% for membership in membership_list %}




        <div class="card-body d-flex flex-wrap flex-lg-nowrap pb-0 my-3 justify-content-between bg-tertiary rounded text-white">

            <div class="col-auto col-4 d-flex">

                {% if membership.status == MEMBERSHIP_STATUS_ADMIN %}
                    <span class="fas fa-star text-warning d-flex pe-3 mt-1"></span>


                {% else %}

                    <div class="form-check inbox-check mb-0 me-2">

                        <input class="form-check-input" type="checkbox" value="" id="checkbox_for_{{ membership.id }}"
                               hx-post="{% url 'group-membership-selector' slug=group.slug pk=membership.pk membership_filter=membership_filter %}"
                               hx-target="#requests_action_bar"
                               hx-swap="innerHTML swap:0.1s"
                        >
                        <label class="form-check-label" for="defaultCheck1"></label>
                    </div>
                {% endif %}

                <strong> {{ membership.user.first_name }}</strong>


            </div>
            <div class="col-4 text-center">
                <p> {{ membership.status }} </p>
            </div>

            <div class="col-4 text-right">
                {{ membership.created_at|date:"SHORT_DATE_FORMAT" }}
            </div>

        </div>



{% empty %}
    <div class="text-muted text-center mb-0 pt-3 pb-1"
    >nothing to see here...</div>

{% endfor %}

<div id="requests_action_bar" class="text-white">

</div>


{% include "app/group/partials/memberships/template_js/update_membership_totals.html" %}
