<div class="py-4 px-4 mb-4 bg-white rounded shadow-sm">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h5 class="mb-0">Collaborations</h5>
        <div class="d-flex">

            <select class="form-select fmxw-150 pe-5" id="inlineFormCustomSelectMessages"
                    aria-label="Messages select example">
                <option> --- All ---</option>
                <option>Planning</option>
                <option>Ongoing</option>
                <option>Complete</option>
            </select>

            <a href="{% url 'collaboration-create' group_slug=group.slug %}">
                <button class="btn btn-tertiary ms-2">New</button>
            </a>
        </div>
    </div>
    <div class="row">

        {% for collaboration in collaborations %}


            <div class="col-12 col-md-6 col-lg-6 mb-5 mb-lg-0">
                <div class="card border-gray-300"><a href="{% url 'collaboration-detail' slug=collaboration.slug %}"><img src="/compiled/pixel/html&css/assets/img/blog/image-1.jpg"
                                                                                                                          class="card-img-top rounded-top" alt="Office"></a>


                    <div class="card-body">

                        <div class="media d-flex align-items-center justify-content-between">
                            <div class="post-group"><a href="#" data-toggle="tooltip" data-placement="top" title=""
                                                       data-original-title="23k followers">

                                <span class="fas fa-user me-2"></span>

                                {{ collaboration.created_by }}</a></div>
                            <div class="d-flex align-items-center">

                                {% if collaboration.status ==  "Planning" %}

                                    <span class="small"><span class="fas fa-pen me-2"></span>Planning</span>

                                {% elif collaboration.status ==  "Ongoing" %}

                                    <span class="small"><span class="fas fa-walking me-2"></span>Ongoing</span>

                                {% elif collaboration.status ==  "Completed" %}

                                    <span class="small"><span
                                            class="fas fa-check-circle me-2"></span>Completed</span>

                                {% endif %}


                            </div>

                        </div>

                        <a href="{% url 'collaboration-detail' slug=collaboration.slug %}"><h3 class="h5 card-title mt-4">{{ collaboration.name }}</h3></a>
                        <p class="card-text">{{ collaboration.description }}</p>
                        {% if collaboration.percent_completed < 50 %}

                            <div class="progress-wrapper">
                                <div class="progress-info">

                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-danger"
                                         role="progressbar"
                                         style="width: {{ collaboration.percent_completed }}%;"
                                         aria-valuenow="{{ collaboration.percent_completed }}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>

                        {% elif collaboration.percent_completed < 100 %}
                            <div class="progress-wrapper">
                                <div class="progress-info">

                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info"
                                         role="progressbar"
                                         style="width: {{ collaboration.percent_completed }}%;"
                                         aria-valuenow="{{ collaboration.percent_completed }}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="progress-wrapper">
                                <div class="progress-info">

                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success"
                                         role="progressbar"
                                         style="width: {{ collaboration.percent_completed }}%;"
                                         aria-valuenow="{{ collaboration.percent_completed }}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
</div>