
<div class="mb-4 p-4 bg-white rounded shadow-sm">
    <div class="d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Members</h5>


        <div class="d-flex">

            <select class="form-select fmxw-150 pe-5" id="inlineFormCustomSelectMessages"
                    aria-label="Messages select example"
                    name="membership_list_view"
                    hx-get={% url 'htmx_membership_list' group_id=group_id %}
                    hx-target="#list_of_members"
{#                    hx-indicator=".htmx-indicator"#}
            >



                <option value="{{ MEMBERSHIP_STATUS_PENDING }}">{{ MEMBERSHIP_STATUS_PENDING }}</option>
                <option value="{{ MEMBERSHIP_STATUS_CURRENT }}">{{ MEMBERSHIP_STATUS_CURRENT }}</option>
                <option value="{{ MEMBERSHIP_STATUS_IGNORED }}">{{ MEMBERSHIP_STATUS_IGNORED }}</option>
                <option value="{{ MEMBERSHIP_STATUS_REMOVED }}">{{ MEMBERSHIP_STATUS_REMOVED }}</option>

                <option value="HIDE">Hide All</option>


            </select>
        </div>
    </div>

<div id="list_of_members">
    {% include "dashboard/group/memberships/group_members_list.html" %}
</div>

</div>