<!DOCTYPE html>
<html lang="en">

{% block head %}
    {% include 'base/head.html' %}
{% endblock %}

<body>

<!-- Section -->
<section class="min-vh-100 d-flex align-items-center section-image bg-secondary">

    {% block global_header %}
        {% include 'base/header.html' %}
    {% endblock %}

<div class="col-12 d-flex justify-content-center align-content-center">
    {% block body %}
    {% endblock %}
</div>

</section>

{% block global_footer %}
    {% include 'base/footer.html' %}
{% endblock %}


{% block global_scripts %}
    {% include 'base/scripts.html' %}
{% endblock %}
</body>

</html>