<div class="d-flex align-items-center justify-content-between text-white">
    <h4 class="mb-0">Announcements</h4>
    <div class="d-flex">
        <select class="form-select fw-150 pe-5 btn-primary" id="inlineFormCustomSelectMessages"
                aria-label="announcement filter"
                name="announcement_list_filter"
                hx-swap="innerHTML"
                hx-get={% url 'group-announcement-list' slug=group.slug %}
                        hx-target="#list_of_announcements"
        >
            <option value="{{ ANNOUNCEMENTS_FILTER_LATEST }}">{{ ANNOUNCEMENTS_FILTER_LATEST }}</option>
            <option value="{{ ANNOUNCEMENTS_FILTER_ALL }}">{{ ANNOUNCEMENTS_FILTER_ALL }}</option>
            <option value="HIDE">Hide All</option>
        </select>
        {% if membership_level == "Admin" %}
    <a
        hx-get="{% url 'group-announcement-create' slug=group.slug %}"
        hx-target="#list_of_announcements"
        hx-swap="innerHTML"
    >
                <button class="btn btn-tertiary ms-2 fmw-50"><strong>+</strong></button>
            </a>
        {% endif %}
    </div>
</div>

<div id="list_of_announcements">
    {% include "app/group/partials/announcements/list.html" %}
</div>

