<div class="modal fade" id="header-modal" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-primary text-white">
            <div class="modal-header border-0">
                <button type="button" class="btn-close bg-gray-500" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form
                hx-target="#group_page_header"
                hx-swap="innerHTML"
                enctype="multipart/form-data"
                hx-encoding="multipart/form-data">{% csrf_token %}
                <div class="modal-body">

                    <div class="py-1 text-center">
                        <span class="modal-icon display-1"><span class="fas fa-pen"></span></span>
                        <h2 class="h4 modal-title">Change Image</h2>
                                        <div class="text-center py-3">

                    </div>
                    </div>



                    <div class="mx-5">

                        {% for field in form %}

                            <div class=" mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                                {{ field.errors }}
                            </div>

                        {% endfor %}

                    </div>



                </div>

                <div class="d-flex modal-footer border-secondary justify-content-around">

                    <button type="button" class="btn btn-outline-white" data-bs-dismiss="modal">Close</button>

                    <button
                        hx-post="{% url 'group-image' slug=group.slug %}"
                        type="submit"
                        class="btn btn-tertiary"
                        data-bs-dismiss="modal"
                    >Submit</button>

                </div>

            </form>


        </div>
    </div>
</div>

<script>
    const myModal = new bootstrap.Modal(document.getElementById("header-modal"), {})
    myModal.show();
</script>