{% extends "app/base/main.html" %}
{% block body_content %}


    <div class="mb-4">

        <div class="d-flex align-items-center justify-content-between text-white">

            <h2 class="mb-0 me-2">Search</h2>

            <div class="d-flex">

                <input type="search" class="form-control fmw-50 fmxh-50 btn-primary" placeholder="Search"
                    aria-label="group query string"
                    name="group_query_string"
                    hx-get={% url 'group-search' %}
                            hx-target="#list_of_groups"
                    hx-swap="innerHTML swap:0.1s"
                   hx-trigger="keyup changed delay:500ms, search"
                >


                <button hx-get="{% url 'group-create' %}" class="btn btn-tertiary ms-2 fmw-150 fmxh-50 d-none d-md-block" hx-target="#modal-div" hx-swap="innerHTML">
                    <strong>+ Add Group</strong>
                </button>

                <button hx-get="{% url 'group-create' %}" class="btn btn-tertiary ms-2 fmw-50 fmxh-50 d-md-none" hx-target="#modal-div" hx-swap="innerHTML">
                    <strong>+</strong>
                </button>


            </div>


        </div>

    </div>
    <div class="row card-deck" id="list_of_groups">
        {% include "app/home/partials/group_list.html" %}
    </div>

    <div id="modal-div">

    </div>



{% endblock %}


