<div class="row justify-content-center text-center text-white">

    <div class="col-lg-8">

        <a
            hx-get="{% url 'collaboration-image' slug=collaboration.slug %}"
            hx-target="#collaboration_header"
            hx-swap="afterend"
        >
            {% if collaboration.image %}
                <img src="{{ collaboration.image.url }}"
                     class="rounded-circle img-thumbnail image-lg"
                     alt="{{ collaboration.image }}">
            {% else %}
                <img src="/compiled/pixel/html&css/assets/img/blog/image-1.jpg"
                     class="rounded-circle img-thumbnail image-lg" alt="Office">
            {% endif %}
        </a>

        <a
            hx-get="{% url 'collaboration-update' slug=collaboration.slug %}"
            hx-target="#collaboration_header"
            hx-swap="afterend"
        >
            <h1 class="my-4">{{ collaboration.name }}</h1>
        </a>

        <a
            hx-get="{% url 'collaboration-update' slug=collaboration.slug %}"
            hx-target="#collaboration_header"
            hx-swap="afterend"
        >
            <p class="card-description">{{ collaboration.description }}</p>
        </a>

    </div>

    <div class="d-flex justify-content-between m-2 mb-5 col-10">
        <div class="col ps-0"><span class="small d-block">Creator</span> <span
                class="h6 fw-bold">{{ collaboration.created_by }}</span></div>
        <div class="col"><span class="small d-block">Status</span>
            <span class="h6 fw-bold" id="collaboration_status_span">{{ collaboration.status }}</span>
        </div>
        <div class="col me-0">
            <span class="small d-block">Progress</span>
            <span class="h6 fw-bold" id="completion_percentage_span"
                  data-value="{{ collaboration.percent_completed }}">{{ collaboration.percent_completed }}</span>%
        </div>
    </div>

</div>