{% if percent_completed < 50 %}
    <div class="progress-wrapper">
        <div class="progress-info m-0">
        </div>
        <div class="progress m-0">
            <div class="progress-bar progress-bar-striped bg-danger"
                 role="progressbar"
                 style="width: {{ percent_completed }}%;"
                 aria-valuenow="{{ percent_completed }}"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
    </div>
{% elif percent_completed < 100 %}
    <div class="progress-wrapper">
        <div class="progress-info m-0">

        </div>
        <div class="progress m-0">
            <div class="progress-bar progress-bar-striped bg-info"
                 role="progressbar"
                 style="width: {{ percent_completed }}%;"
                 aria-valuenow="{{ percent_completed }}"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
    </div>
{% else %}
    <div class="progress-wrapper">
        <div class="progress-info m-0">

        </div>
        <div class="progress m-0">
            <div class="progress-bar progress-bar-striped bg-success"
                 role="progressbar"
                 style="width: {{ percent_completed }}%;"
                 aria-valuenow="{{ percent_completed }}"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
    </div>
{% endif %}