<div class="overflow-hidden text-center mb-0">
    <div hx-boost="true" class="p-4 text-center text-white">

        <a
            hx-get="{% url 'group-image' slug=group.slug %}"
            hx-target="#group_page_header"
            hx-swap="afterend"
        >
        {% if group.profile_image %}
            <img src="{{ group.profile_image.url }}" class="organic-radius img-fluid shape-white p-1" alt="Joseph Avatar">
        {% else %}
            <img src="/compiled/pixel/html&css/assets/img/blog/image-1.jpg" class="organic-radius img-fluid" alt="Joseph Avatar">
        {% endif %}

        </a>

        <a
            hx-get="{% url 'group-update' slug=group.slug %}"
            hx-target="#group_page_header"
            hx-swap="afterend"
        >

            <h1 class="m-4 ">{{ group.name }}</h1>
            <p class="lead ">{{ group.description }}</p>
            </a>



        <p class="mt-4 mb-0">
            {% if membership_level == MEMBERSHIP_STATUS_ADMIN or membership_level == MEMBERSHIP_STATUS_CURRENT %}
                <a href="{% url 'group-leave' slug=group.slug %}">Leave</a>
            {% elif not membership_level == MEMBERSHIP_STATUS_PENDING %}
                <a href="{% url 'group-join' slug=group.slug %}">Join</a>
            {% endif %}
        </p>

        {% if messages %}
            <ul hx-get="{% url 'empty-string' %}" hx-swap="outerHTML swap:0.1s" hx-trigger="load delay:3s"
                class="pt-3 m-0"
                style="list-style-type: none">
                {% for message in messages %}
                    <li>{{ message|safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}


    </div>


</div>

<div class="bg-light p-4 d-flex justify-content-end text-center text-white">
    <ul class="list-inline mb-0">
        <li class="list-inline-item">
            <h5 id="h5_admin_count" class="font-weight-bold mb-0 d-block">{{ membership_count.admin }}</h5><small
                class="text-muted"> <i
                class="fa fa-picture-o mr-1"></i>Admins</small>
        </li>
        <li class="list-inline-item">
            <h5 id="h5_member_count" class="font-weight-bold mb-0 d-block">{{ membership_count.member }}</h5><small
                class="text-muted"> <i
                class="fa fa-user-circle-o mr-1"></i>Total Members</small>
        </li>
        <li class="list-inline-item">
            <h5 id="h5_subscriber_count"
                class="font-weight-bold mb-0 d-block">{{ membership_count.subscriber }}</h5><small
                class="text-muted">
            <i class="fa fa-user-circle-o mr-1"></i>Subscribers</small>
        </li>
    </ul>
</div>
