{% include "main_nav.html" %}
<form method="POST">
    {% csrf_token %}
    <label class="small mb-1"
           for="id_email">Email address:</label>
    <input type="email" name="email"
           class="form-control"
           required
           id="id_email"
           placeholder="Enter email">
    <button type="submit">
        Reset my password
    </button>

    {% if form.errors %}
        <div id="form_errors" class="f-errors mt-2">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
    {% endif %}
</form>
