{% for collaboration in collaboration_list %}

    <div class="col-12 col-md-6 col-lg-6 mt-3">
        <div class="card border-gray-300 my-2"><a href="{% url 'collaboration-detail' slug=collaboration.slug %}"><img
                src="/compiled/pixel/html&css/assets/img/blog/image-1.jpg"
                class="card-img-top rounded-top" alt="Office"></a>

            <div class="card-body">
                <div class="media d-flex align-items-center justify-content-between">
                    <div class="post-group">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                        <span class="fas fa-user me-2"></span>{{ collaboration.created_by }}</a></div>

                    <div class="d-flex align-items-center">
                        {% if collaboration.status ==  "Planning" %}
                            <span class="small"><span class="fas fa-pen me-2"></span>Planning</span>
                        {% elif collaboration.status ==  "Ongoing" %}
                            <span class="small"><span class="fas fa-walking me-2"></span>Ongoing</span>
                        {% elif collaboration.status ==  "Completed" %}
                            <span class="small"><span
                                    class="fas fa-check-circle me-2"></span>Completed</span>
                        {% endif %}
                    </div>

                </div>

                <a href="{% url 'collaboration-detail' slug=collaboration.slug %}"><h3
                        class="h5 card-title mt-4">{{ collaboration.name }}</h3></a>
                <p class="card-text">{{ collaboration.description }}</p>

                {% include "dashboard/group/collaborations/progress_bar.html" with percent_completed=collaboration.percent_completed %}

            </div>
        </div>
    </div>

{% empty %}
    <div class="p-3">Nothing to show right now</div>
{% endfor %}

