{% if completion_status == COLLABORATION_STATUS_PLANNING %}

    <div class="mb-4 p-4 bg-white rounded shadow-sm text-center">
        <h4 class="alert-heading">Planning</h4>
        <p>Use the buttons below to add tasks and milestones to the collaboration.</p>
        <p>When you are ready to complete a task, click the icon beside it.</p>

        <hr>
        <div class="d-flex justify-content-around ">
            <button class="btn btn-outline-primary btn-sm" type="button"
                hx-get="{% url 'task-creation-modal' collaboration_id=collaboration.pk %}"
                hx-target="#element_list"
                hx-swap="innerHTML"
                >{% csrf_token %}



            >+ Task</button>
            <button class="btn btn-outline-primary btn-sm" type="button">+ Milestone</button>
        </div>
    </div>

{% endif %}

{% if completion_status == COLLABORATION_STATUS_ONGOING %}

    <div class="mb-4 p-4 bg-white rounded shadow-sm text-center">
        <h4 class="alert-heading">Ongoing (<span id="finish-bar-completion-percentage">{{ collaboration.percent_completed }}</span>%)</h4>
        <p>Click the icon beside tasks to mark them as complete.</p>

        <hr>
        <div class="d-flex justify-content-around ">
            <button class="btn btn-outline-primary btn-sm" type="button">+ Task</button>
            <button class="btn btn-outline-primary btn-sm" type="button">+ Milestone</button>
        </div>
    </div>

{% endif %}

{% if completion_status == COLLABORATION_STATUS_COMPLETED %}

    <div class="mb-4 p-4 bg-white rounded shadow-sm text-center">
        <h4 class="alert-heading">Complete</h4>
        <p>This collaboration has been completed. Great Work!</p>
        <hr>
        <div class="d-flex justify-content-around ">
            <button class="btn btn-outline-primary btn-sm" type="button">+ Task</button>
            <button class="btn btn-outline-primary btn-sm" type="button">+ Milestone</button>
        </div>
    </div>

{% endif %}


