<div class="row d-flex align-items-center">

    <div class="col-md-2 text-center bottom">
        <div class="shape bg-secondary d-flex align-items-center justify-content-center organic-radius icon-white">
            <span class="fab fa-user"></span>
        </div>
    </div>

    <div class="col-md-6">
        <h2 class="h6">{{ task.number }}. {{ task.name }}</h2>
        <p>{{ task.description }}</p>

        <div class="task_action_bar">
                    <span class="text-muted font-small me-3">
                <span class="fas fa-user-clock me-2"></span>
                {{ task.assigned_to.first_name }}
            </span>

            <a class="text-muted font-small me-3" href="{% url 'task-update' task.id %}">
                <span class="fas fa-edit me-2"></span>
                Edit
            </a>

            <a class="text-muted font-small me-3" hx-delete="{% url 'task-delete' task.id %}"
               hx-target="#collaboration_elements" hx-confirm="Delete Task '{{ task.name }}'?">
                <span class="fa fa-trash me-2" aria-hidden="true"></span>
                Delete
            </a>
        </div>

    </div>

</div>