<div class="row align-items-center justify-content-end vertical-timeline">

    <div class="col-md-6 text-right">
        <h2 class="h6 pb-1">{{ task.number }}. {{ task.name }}</h2>
        <p>{{ task.description }}</p>
        <h1>{{ task.position }}</h1>
        <p>{{ task.completion_notes }}</p>

                <div class="task_action_bar">
                    <span class="text-muted font-small me-3">
                <span class="fas fa-user-clock me-2"></span>
                {{ task.assigned_to.first_name }}
            </span>

            <a class="text-muted font-small me-3"
                           hx-get="{% url 'collaboration-task-update' slug=collaboration.slug pk=task.pk %}"
                hx-target="#element_list"
                hx-swap="innerHTML"
            >
                <span class="fas fa-pen me-2"></span>
                Edit
            </a>

            <a class="text-muted font-small me-3"
               hx-get="{% url 'collaboration-task-delete' slug=collaboration.slug pk=task.pk %}"
                hx-target="#element_list"
                hx-swap="innerHTML"
            >
                <span class="fas fa-times-circle me-2" aria-hidden="true"></span>
                Delete
            </a>

                    {% if forloop.counter != 1 %}

            <a class="text-muted font-small me-2" hx-post="{% url 'collaboration-task-move' slug=collaboration.slug pk=task.pk position=task.position|add:"-1" %}"
               hx-target="#element_list"
               hx-swap="innerHTML swap:0.1s"
            ><span class="fa fa-arrow-up m-2"></span></a>

                    {% endif %}

                {% if forloop.counter != elements|length %}

            <a class="text-muted font-small" hx-post="{% url 'collaboration-task-move' slug=collaboration.slug pk=task.pk position=task.position|add:"1" %}"
               hx-target="#element_list"
               hx-swap="innerHTML swap:0.1s"
            ><span class="fa fa-arrow-down m-2"></span></a>

                {% endif %}

        </div>


    </div>

    <div class="col-md-2 text-center full">

        {% if task.is_complete %}

            {% include "app/collaborations/partials/elements/list/task_complete_symbol.html" %}

        {% else %}

            {% include "app/collaborations/partials/elements/list/task_incomplete_symbol.html" %}

        {% endif %}

    </div>

</div>