<div class="row d-flex align-items-center p-0">

    <div class="col-md-2 text-center bottom">


        {% if task.is_complete %}

            {% include "app/collaborations/partials/elements/list/task_complete_symbol.html" %}

        {% else %}

            {% include "app/collaborations/partials/elements/list/task_incomplete_symbol.html" %}

        {% endif %}



    </div>

    <div class="col-12 col-md-6">
        <h2 class="h6 pb-1">{{ task.number }}. {{ task.name }}</h2>
        <p class="pt-1">{{ task.description }}</p>
        <h1>{{ task.position }}</h1>

        <div class="task_action_bar">
                    <span class="text-muted font-small me-3">
                <span class="fas fa-user-clock me-2"></span>
                {{ task.assigned_to.first_name }}
            </span>

            <a class="text-muted font-small me-3" href="{% url 'task-update' task.id %}">
                <span class="fas fa-edit me-2"></span>
                Edit
            </a>

            <a class="text-muted font-small me-3" hx-delete="{% url 'htmx-task-remove' task.id %}"
               hx-target="#collaboration_elements" hx-confirm="Delete Task '{{ task.name }}'?">
                <span class="fa fa-times-circle me-2" aria-hidden="true"></span>
                Delete
            </a>

            <a class="text-muted font-small me-2" hx-post="{% url 'htmx-task-move' pk=task.pk position=task.position|add:"-1" %}"
               hx-target="#element_list"
               hx-swap="innerHTML swap:0.1s"
            ><span class="fa fa-arrow-up m-2"></span></a>

            <a class="text-muted font-small" hx-post="{% url 'htmx-task-move' pk=task.pk position=task.position|add:"1" %}"
               hx-target="#element_list"
               hx-swap="innerHTML swap:0.1s"
            ><span class="fa fa-arrow-down m-2"></span></a>


        </div>

    </div>

</div>