<div class="row align-items-center justify-content-end vertical-timeline">

    <div class="col-md-6 text-right">
        <h2 class="h6 pb-1">{{ task.number }}. {{ task.name }}</h2>
        <p>{{ task.description }}</p>

                <div class="task_action_bar">
                    <span class="text-muted font-small me-3">
                <span class="fas fa-user-clock me-2"></span>
                {{ task.assigned_to.first_name }}
            </span>

            <a class="text-muted font-small me-3" href="{% url 'task-update' task.id %}">
                <span class="fas fa-edit me-2"></span>
                Edit
            </a>

            <a class="text-muted font-small me-3" hx-delete="{% url 'task-delete' task.id %}"
               hx-target="#collaboration_elements" hx-confirm="Delete Task '{{ task.name }}'?">
                <span class="fas fa-times-circle me-2" aria-hidden="true"></span>
                Delete
            </a>
        </div>


    </div>

    <div class="col-md-2 text-center full">

        {% if task.is_complete %}

            {% include "app/collaborations/partials/elements/list/task_complete_symbol.html" %}

        {% else %}

            {% include "app/collaborations/partials/elements/list/task_incomplete_symbol.html" %}

        {% endif %}

    </div>

</div>