.collaboration-card-img {
    width: 100%;
    height: 10vw;
    min-height: 250px;
    object-fit: fill;
    border-top-right-radius: 1rem!important;
    border-top-left-radius: 1rem!important;
}

.collaboration-card-footer {
    padding: 1.25rem 1.5rem;
    background-color: rgba(23, 31, 56, 0.03);
    border-top: 0.0625rem solid #E5E7EB;
    border-bottom-right-radius: 1rem!important;
    border-bottom-left-radius: 1rem!important;
}

.htmx-added {
    opacity: 0;
}

.htmx-settling {
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.htmx-swapping {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
