{% extends "static_site/static_base.html" %}
{% block body %}



    <!-- Section -->

    <div class="row justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                <div class="text-center text-md-center mb-4 mt-md-0">

                    <h1>Resetting your password</h1>
                    <p>To reset your password, please choose a strong password and enter it below.</p>


                    <form method="POST">
                        {% csrf_token %}
                        <label for="id_new_password1">New password:</label>
                        <input type="password" name="new_password1"
                               autocomplete="new-password"
                               class="form-control" required
                               id="id_new_password1"
                               placeholder="Enter password"/>
                        <label class="small mb-1 mt-2"
                               for="id_new_password2">Confirm new password:</label>
                        <input type="password" name="new_password2"
                               autocomplete="new-password"
                               required id="id_new_password2"
                               class="form-control"
                               placeholder="Confirm password"/>
                        <button type="submit" id="reset">Reset Password</button>

                        {% if form.errors %}
                            <div>
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </form>

                    <p>Return to<a href="{% url 'login' %}" class="text-muted ms-1"><strong>Log in</strong></a></p>


                </div>
            </div>
        </div>



{% endblock body %}