{% if collaboration.status == COLLABORATION_STATUS_PLANNING %}

    <div class="p-4 text-center">

        <div class="right d-flex align-items-center justify-content-center icon-white rounded-circle pb-2">
            <span class='fas fa-pen-fancy fa-3x'></span>
        </div>

        <h5 class="alert-heading">Planning</h5>
        <p>Use the buttons below to add tasks and milestones to the collaboration.</p>
        <p>When you are ready to complete a task, click the icon beside it.</p>

        {% if membership_level == "Admin" or membership_level == "Current" %}
            <hr>
            {% include "app/collaborations/partials/elements/list/add_element_links.html" %}
        {% endif %}
    </div>

{% endif %}

{% if collaboration.status == COLLABORATION_STATUS_ONGOING %}

    <div class="p-4 text-center">

        <div class="right d-flex align-items-center justify-content-center icon-white rounded-circle pb-2">
            <span class='fas fa-people-carry fa-3x'></span>
        </div>

        <h5 class="alert-heading">Ongoing (<span id="finish-bar-completion-percentage">{{ collaboration.percent_completed }}</span>%)</h5>
        <p>Click the icon beside tasks to mark them as complete.</p>

        {% if membership_level == "Admin" or membership_level == "Current" %}
            <hr>
            {% include "app/collaborations/partials/elements/list/add_element_links.html" %}
        {% endif %}
    </div>

{% endif %}

{% if collaboration.status == COLLABORATION_STATUS_COMPLETED %}

    <div class="p-4 text-center">

        <div class="right d-flex align-items-center justify-content-center icon-white rounded-circle pb-2">
            <span class='fas fa-flag-checkered fa-3x'></span>
        </div>


        <h5 class="alert-heading">Complete</h5>
        <p>This collaboration has been completed. Great Work!</p>

        {% if membership_level == "Admin" or membership_level == "Current" %}
            <hr>
            {% include "app/collaborations/partials/elements/list/add_element_links.html" %}
        {% endif %}
    </div>

{% endif %}


