{% if element.is_complete %}

    <div class="row timeline-inner p-1 d-none d-md-flex" style="margin-top: -5px;">
        <div class="col-md-2" style="margin-top: 1px">
            <div class="corner right-bottom"></div>
        </div>
        <div class="col-md-8">
            <hr>
        </div>
        <div class="col-md-2">
            <div class="corner top-left"></div>
        </div>
    </div>

{% else %}
    <div class="row timeline-inner p-1 d-none d-md-flex" style="margin-top: -5px;">
        <div class="col-md-2" style="margin-top: 1px">
            <div class="corner right-bottom border-gray-800"></div>
        </div>
        <div class="col-md-8">
            <hr class="border-gray-800">
        </div>
        <div class="col-md-2">
            <div class="corner top-left border-gray-800"></div>
        </div>
    </div>
{% endif %}





