<div class="row align-items-center justify-content-center vertical-timeline p-1 d-none d-md-flex text-center col-11 align-self-center ms-4 me-1 card border-gray-300 p-2 bg-secondary"
style="
background-image: linear-gradient(45deg, rgb(255, 255, 255, 0.07) 25%, transparent 25%, transparent 50%, rgb(255, 255, 255, 0.07) 50%, rgb(255, 255, 255, 0.07) 75%, transparent 75%, transparent);
background-size: 2rem 2rem;
border-color: white;
border-width: thin;
border-style: solid;
"
>

<div class="col-md-2 text-center full mt-4 align-self-center">
        {% if milestone.is_complete %}

            {% include "app/collaborations/partials/elements/list/milestone_complete_symbol.html" %}

        {% else %}

            {% include "app/collaborations/partials/elements/list/milestone_incomplete_symbol.html" %}

        {% endif %}
    </div>

    <div class="text-center my-4">


        {% if membership_level == "Admin" or membership_level == "Current" %}
        <a
                hx-get="{% url 'collaboration-milestone-update' slug=collaboration.slug pk=milestone.pk %}"
                hx-target="#element_list"
                hx-swap="innerHTML"
        ><h2 class="h6">{{ milestone.name }} ( {{ milestone.tasks_completed }} / {{ milestone.prerequisites.count }}
            Tasks Complete)</h2></a>




        <div class="task_action_bar pt-1">


            {% if forloop.counter != 1 %}
                <a class="text-muted font-small me-2"
                   hx-post="{% url 'collaboration-milestone-move' slug=collaboration.slug pk=milestone.pk position=milestone.position|add:"-1" %}"
                   hx-target="#element_list"
                   hx-swap="innerHTML swap:0.1s"
                ><span class="fa fa-arrow-up m-2 ms-3"></span></a>

            {% endif %}

            {% if forloop.counter != elements|length %}

                <a class="text-muted font-small"
                   hx-post="{% url 'collaboration-milestone-move' slug=collaboration.slug pk=milestone.pk position=milestone.position|add:"1" %}"
                   hx-target="#element_list"
                   hx-swap="innerHTML swap:0.1s"
                >

                    {% if forloop.counter == 1 %}
                        <span class="fa fa-arrow-down m-2"></span>
                    {% else %}
                        <span class="fa fa-arrow-down m-2 me-3"></span>
                    {% endif %}

                </a>

            {% endif %}

        </div>

        {% else %}
            <h2 class="h6">{{ milestone.name }} ( {{ milestone.tasks_completed }} / {{ milestone.prerequisites.count }}
            Tasks Complete)</h2>

        {% endif %}
    </div>


</div>